body { 
	background-color: #72CD6A;
	color: #222; 
	font-family: 'rooney-sans', verdana, sans-serif;
}

#content { 
	margin: 6% 10% 6% 12%;
	line-height: 1.5; 
	padding-bottom: 1.4em; 
	text-align: center;
}

h1 {
	font-size: 2em;
	margin-top: 2em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#affirmation {
	font-size: 4em;
	margin-top: 1em;
	font-weight: 800;
	min-height: 200px;
}

.button {
	background-color: yellow;
	width: 200px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
}

#buttons a,
#buttons a:hover,
#buttons a:visited {
	color: #222;
}

.border-bottom {
	border-bottom: 4px solid #256F3C;
}


/* --- THE RESPONSIVE TYPE --- */

html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Large desktop */
@media (min-width: 1120px) { body { font-size:100%;} }

/* Portrait tablet to landscape and desktop */
@media (min-width: 840px) and (max-width: 1119px) { body { font-size:95%;}}

/* Landscape phone to portrait tablet */
@media (max-width: 839px) { body { font-size:90%;}}

/* Landscape phones and down */
@media (max-width: 480px) { body { font-size:80%;}}